<?xml version="1.0" encoding="UTF-8"?>
<html>
<title>图书信息</title>
<body>
<div class="text" style=" text-align:center;"><h1> 图书信息 </h1>
</div>
<table border = '1' cellpadding="20" align="center">
<tr>
<th>ISBN</th>
<th>Title</th>
<th>AuthorID</th>
<th>Publisher</th>
<th>PublishDate</th>
<th>Price</th>
</tr>
<tr>
<td>{{book1.ISBN}}</td>
<td>{{book1.Title}}</td>
<td>{{book1.AuthorID.Name}}</td>
<td>{{book1.Publisher}}</td>
<td>{{book1.PublishDate}}</td>
<td>{{book1.Price}}</td>
</tr>
<br>
<tr>
<a href="/home/">返回首页</a>
</tr>

</table>
</body>
</html>
